.carr {
  display: flex;
  justify-content: center;
  margin-top: 15rem;
  padding: 2rem;
  img {
    object-fit: cover;
    width: 30rem;
    height: 20rem;
  }
  &__name {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 2rem;
    background-color: rgb(247, 247, 247);
    width: 30rem;
    p {
      &:hover {
        transform: scale(1.2);
        color: rgb(149, 97, 92);
      }
    }
  }
}
